<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="./vendor/autoload.php"
    timeoutForSmallTests="5"
    timeoutForMediumTests="30"
    timeoutForLargeTests="300"
    strict="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
